module.exports = {
  dbConfig: {
    username: 'root',
    password: '',
    database: 'magnetico',
    host: 'localhost',
    dialect: 'mysql',
    logging: false,
    operatorsAliases: false,
  },
}
